config/eventdisplay.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="detector">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="color" use="optional"/>
          <xs:attribute type="xs:byte" name="transparency" use="optional"/>
          <xs:attribute type="xs:string" name="isRecursiveColoring" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="coloring">
    <xs:annotation>
      <xs:documentation>// COLOR SET:
 white, black, gray,
 blue, azure (темно-синий), cyan (морской волны), teal (бирюзовый),
 green, spring (светло-зеленый), green+2 (темно-зеленый), spring+2 (темно-зеленый), khaki
 yellow, orange (желтый с оттенком), orange+2 (оранжевый кор.), orange+1 (светло-оранжевый кор.), orange+7 (выделенно-оранжевый)
 red, violet, magenta (бардовый), magenta-6 (светло-бардовый), pink (темно-розовый)
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="detector" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="level" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="level">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:byte" name="number" use="optional"/>
          <xs:attribute type="xs:string" name="color" use="optional"/>
          <xs:attribute type="xs:string" name="isFillLine" use="optional"/>
          <xs:attribute type="xs:string" name="visibility" use="optional"/>
          <xs:attribute type="xs:byte" name="transparency" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
